@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');

:root {
  --dark-mode-element: hsl(208, 23%, 22%);
  --dark-mode-background: hsl(209, 26%, 17%);
  --dark-mode-text: hsl(0, 0%, 100%);
}

* {
  margin: 0px;
  padding: 0px;
}

/* * { border: 1px solid red; } */

html, body {
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--dark-mode-background);
}

button, input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button {
  padding: 0.2rem 2rem;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

/* Dark Mode Classes */
.dark-container {
  background-color: var(--dark-mode-background);
  color: var(--dark-mode-text);
}
.dark-element {
  background-color: var(--dark-mode-element);
  color: var(--dark-mode-text);
}

.dark-shadow {
  box-shadow: 0 10px 10px rgba(26, 37, 48, 0.5);
}

/* Header */
.header {
  font-size: 16px;
  padding: 2rem 4rem;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Container */
.container {
  padding: 3rem 6rem;
  min-height: 100%;
}

/* Input Container */
select {
  padding: 1rem;
  border-radius: 5px;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  border: none;
  outline: none;
}
select:focus {
  border: none;
  outline: none;
}

.home-input-container {
  margin-bottom: 3rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-input-container div input {
  padding: 1rem;
  border-radius: 5px;
}

/* HomeContainer */
.home-country-container {
  font-size: 16px;
  display: grid;
  gap: 3rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
}

.home-country-card {
  border-radius: 5px;
}

.home-flag {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

/* .home-flag-div {
  text-indent: -9999999999;
  background-image: url("https://merriam-webster.com/assets/mw/images/article/art-wap-landing-mp-lg/gray-background-7131-96d780fd18d4eaf58a7331d45573204e@1x.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
} */

/* .home-flag-div h1{
  visibility: hidden;
} */

.home-country-info {
  margin: 0 1rem;
  padding: 1rem;
}

.home-country-name {
  padding-bottom: 1rem;
}

.home-country-stats {
  margin: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-country-stats ul {
  list-style: none;
}

.home-country-stats ul li {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
}

.stats {
  font-weight: 600;
}

/* Detail Page */
.detail-country-container {
  font-size: 16px;
  display: grid;
  gap: 3rem;
  grid-template-areas: 
    'btn'
    'flag info'
  ;
}

.back-btn-container {
  grid-area: 'btn';
}

.detail-country-flag {
  grid-area: "flag";
}

.detail-country-info {
  grid-area: "info";
}

.detail-flag {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.detail-country-stats ul {
  list-style: none;
}

.detail-country-stats ul li {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
}

.stats {
  font-weight: 600;
}